[options]
addons_path = odoo/odoo/addons,odoo/addons,modules/

db_user = guydoo

log_level = debug

data_dir = /tmp/data-dir/odoo11
email_from=guy@local.test

[odooties]
#
# Various configuration knobs to work around Odoo oddities
#
